# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Poetry
.poetry/
# Убираем виртуальные окружения, если они создаются в проекте
.venv/
env/
venv/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/

# PyCharm / VSCode
.idea/
.vscode/
*.sublime-project
*.sublime-workspace


# Local database
*.sqlite3
*.db

# Static / media / compiled assets
staticfiles/
media/
build/
dist/
*.log

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Compiled Java classes
*.class

# Jupyter Notebooks
.ipynb_checkpoints

# FastAPI specific (OpenAPI schema cache etc.)
openapi.json

# Logs
*.log
logs/

# Configuration files
app.yaml